[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-marshmallow = "*"
flask-cors = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"
